flows_domus.json
[{"id":"fb6bc004.7596","type":"tab","label":"Telegram_Commands","disabled":false,"info":""},{"id":"5b34e4bd.4aaaec","type":"tab","label":"UI - System Status","disabled":false,"info":""},{"id":"273e5ebb.c42692","type":"tab","label":"UI - Room Status","disabled":false,"info":""},{"id":"68d98986.685728","type":"tab","label":"Google Now"},{"id":"283498f2.fe9028","type":"subflow","name":"GetTemperatureValue","info":"","category":"","in":[{"x":120,"y":120,"wires":[{"id":"c5539c0d.4a061"}]}],"out":[{"x":1000,"y":100,"wires":[{"id":"2050a821.5727c8","port":0}]},{"x":460,"y":160,"wires":[{"id":"c5539c0d.4a061","port":1}]}]},{"id":"7eb0ac3d.67e954","type":"subflow","name":"GetFanStatus","info":"","category":"","in":[{"x":40,"y":120,"wires":[{"id":"d79104a6.66dac8"}]}],"out":[{"x":1400,"y":107,"wires":[{"id":"ede9bb44.2d06d8","port":0}]},{"x":360,"y":180,"wires":[{"id":"d79104a6.66dac8","port":1}]}]},{"id":"90bd3351.f1081","type":"telegram bot","z":"","botname":"Raspberry-Bot","usernames":"kauezatarin","chatids":"","baseapiurl":"","pollinterval":"300"},{"id":"f82a607.90597a","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Raspberry Pi - Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"17214f55.911e71","type":"ui_group","z":"","name":"Col1","tab":"e4b9538b.a837a","order":1,"disp":false,"width":"6"},{"id":"33fc35f6.7fd3ca","type":"ui_group","z":"","name":"Actions","tab":"e4b9538b.a837a","order":5,"disp":true,"width":"6","collapse":true},{"id":"bb51dccd.cef36","type":"ui_group","z":"","name":"Col2","tab":"e4b9538b.a837a","order":2,"disp":false,"width":"6"},{"id":"98f6fbe1.b6d838","type":"ui_group","z":"","name":"Col3","tab":"e4b9538b.a837a","order":3,"disp":false,"width":"6"},{"id":"e4b9538b.a837a","type":"ui_tab","z":"","name":"Raspberry Pi - Dashboard","icon":"dashboard","order":1},{"id":"adc628c.4be25d8","type":"ui_group","z":"","name":"Fan Controll","tab":"e4b9538b.a837a","order":4,"disp":true,"width":"6","collapse":true},{"id":"2d711cb5.1029c4","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"domus","tz":"GMT+00:00"},{"id":"cd2ed073.795a2","type":"ui_tab","z":"","name":"RoomStatus","icon":"dashboard"},{"id":"238898f7.d8b0f8","type":"ui_group","z":"","name":"Col1","tab":"cd2ed073.795a2","order":1,"disp":false,"width":"6","collapse":false},{"id":"2b5258ac.fc47e8","type":"ui_group","z":"","name":"Col2","tab":"cd2ed073.795a2","order":2,"disp":false,"width":"6","collapse":false},{"id":"7295cf97.40982","type":"ui_group","z":"","name":"Col3","tab":"cd2ed073.795a2","order":3,"disp":false,"width":"6","collapse":false},{"id":"fbc9191c.a0e8c8","type":"telegram command","z":"fb6bc004.7596","name":"RaspiBot","command":"/pi","bot":"90bd3351.f1081","strict":false,"x":65,"y":147,"wires":[["a6812e3e.76385","e2f5007.0828e"],[]]},{"id":"bcf1c030.e69cc","type":"telegram sender","z":"fb6bc004.7596","name":"","bot":"90bd3351.f1081","x":1210,"y":100,"wires":[[]]},{"id":"bb455018.61f01","type":"debug","z":"fb6bc004.7596","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1190,"y":180,"wires":[]},{"id":"c5539c0d.4a061","type":"exec","z":"283498f2.fe9028","command":"fan -t","addpay":false,"append":"","useSpawn":"false","timer":"30","oldrc":false,"name":"GetTemp","x":280,"y":120,"wires":[["d5dddd70.37986"],[],[]]},{"id":"d5dddd70.37986","type":"split","z":"283498f2.fe9028","name":"","splt":":","spltType":"str","arraySplt":"2","arraySpltType":"len","stream":false,"addname":"","x":470,"y":100,"wires":[["79fd55a4.b8e22c"]]},{"id":"2050a821.5727c8","type":"function","z":"283498f2.fe9028","name":"intParser","func":"var temperatureString = msg.payload;\n\ntemperatureString = temperatureString.replace(\"ºC\",\"\");\ntemperatureString = temperatureString.replace(\" \",\"\");\n\nmsg.payload = parseFloat(temperatureString);\n\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":100,"wires":[[]]},{"id":"79fd55a4.b8e22c","type":"switch","z":"283498f2.fe9028","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"Temperature","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":80,"wires":[["2050a821.5727c8"]]},{"id":"8895dfaa.198d2","type":"exec","z":"fb6bc004.7596","command":"fan -t","addpay":false,"append":"","useSpawn":"false","timer":"30","oldrc":false,"name":"GetTemp","x":500,"y":220,"wires":[["e2f5007.0828e"],[],[]]},{"id":"e2f5007.0828e","type":"join","z":"fb6bc004.7596","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":750,"y":140,"wires":[["d2249c9f.4e786"]]},{"id":"d2249c9f.4e786","type":"function","z":"fb6bc004.7596","name":"joing payload","func":"var response = msg.payload[1];\nvar tempayload = msg.payload[0];\ntempayload.content = response;\n\nmsg.payload = tempayload;\n\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":140,"wires":[["bcf1c030.e69cc","bb455018.61f01"]]},{"id":"a6812e3e.76385","type":"switch","z":"fb6bc004.7596","name":"command switch","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":" help","vt":"str"},{"t":"eq","v":" t","vt":"str"},{"t":"eq","v":" fan on","vt":"str"},{"t":"eq","v":" fan off","vt":"str"},{"t":"eq","v":" fan auto","vt":"str"},{"t":"eq","v":" fan status","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":7,"x":238,"y":365,"wires":[["5deedcdf.019194"],["8895dfaa.198d2"],["ab2929bd.fcac58"],["e0212dbb.7645d"],["69cbeb95.2a6034"],["4dd47284.aa5ecc"],["753d0e6c.c8e47"]]},{"id":"ab2929bd.fcac58","type":"exec","z":"fb6bc004.7596","command":"fan -f on","addpay":false,"append":"","useSpawn":"false","timer":"30","oldrc":false,"name":"Fan On","x":500,"y":300,"wires":[["e2f5007.0828e"],[],[]]},{"id":"e0212dbb.7645d","type":"exec","z":"fb6bc004.7596","command":"fan -f off","addpay":false,"append":"","useSpawn":"false","timer":"30","oldrc":false,"name":"Fan Off","x":500,"y":380,"wires":[["e2f5007.0828e"],[],[]]},{"id":"69cbeb95.2a6034","type":"exec","z":"fb6bc004.7596","command":"fan -r","addpay":false,"append":"","useSpawn":"false","timer":"30","oldrc":false,"name":"Fan Auto","x":500,"y":460,"wires":[["e2f5007.0828e"],[],[]]},{"id":"4dd47284.aa5ecc","type":"exec","z":"fb6bc004.7596","command":"fan -s","addpay":false,"append":"","useSpawn":"false","timer":"30","oldrc":false,"name":"Fan Stat","x":500,"y":540,"wires":[["e2f5007.0828e"],[],[]]},{"id":"d79104a6.66dac8","type":"exec","z":"7eb0ac3d.67e954","command":"gpio read 7","addpay":false,"append":"","useSpawn":"false","timer":"30","oldrc":false,"name":"GetStat","x":200,"y":120,"wires":[["d6bbdf37.3ec2"],[],[]]},{"id":"7ff06e54.457d6","type":"switch","z":"7eb0ac3d.67e954","name":"detect Status","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":107,"wires":[["65eb68e8.b7caf8"],["ae319b76.103c98"]]},{"id":"65eb68e8.b7caf8","type":"change","z":"7eb0ac3d.67e954","name":"Set true","rules":[{"t":"set","p":"payload","pt":"msg","to":"1:On","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":67,"wires":[["b8c71de2.767eb"]]},{"id":"ae319b76.103c98","type":"change","z":"7eb0ac3d.67e954","name":"Set false","rules":[{"t":"set","p":"payload","pt":"msg","to":"0:Off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":147,"wires":[["b8c71de2.767eb"]]},{"id":"753d0e6c.c8e47","type":"change","z":"fb6bc004.7596","name":"NotFoundException","rules":[{"t":"set","p":"payload","pt":"msg","to":"Command not found. Type \"/pi help\" to get the valid commands.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":620,"wires":[["e2f5007.0828e"]]},{"id":"b8c71de2.767eb","type":"split","z":"7eb0ac3d.67e954","name":"","splt":":","spltType":"str","arraySplt":"2","arraySpltType":"len","stream":false,"addname":"","x":1110,"y":107,"wires":[["ede9bb44.2d06d8"]]},{"id":"ede9bb44.2d06d8","type":"join","z":"7eb0ac3d.67e954","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"30","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1270,"y":107,"wires":[[]]},{"id":"d6bbdf37.3ec2","type":"rbe","z":"7eb0ac3d.67e954","name":"Value Changed","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":500,"y":107,"wires":[["7ff06e54.457d6"]]},{"id":"5deedcdf.019194","type":"function","z":"fb6bc004.7596","name":"HelpMessage","func":"var helpMsg = \"All Commands must be typed alfter the '/pi' call (ex.: /pi help)\\r\\n\\r\\n\";\n\nhelpMsg+= \"help --> Shows trhis help message\\r\\n\";\nhelpMsg+= \"t --> Shows the CPU temperature\\r\\n\";\nhelpMsg+= \"fan on --> Forces the CPU fan to be always on\\r\\n\";\nhelpMsg+= \"fan off --> Forces the CPU fan to be always off (DANGER)\\r\\n\";\nhelpMsg+= \"fan auto --> Sets the CPU fan to be on automatic mode (RECOMENDED)\\r\\n\";\nhelpMsg+= \"fan status --> Shows the actual status of the fan\\r\\n\";\n\nmsg.payload.content = helpMsg;\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":60,"wires":[["bcf1c030.e69cc"]]},{"id":"a4f62601.0f7c88","type":"ui_gauge","z":"5b34e4bd.4aaaec","name":"","group":"bb51dccd.cef36","order":1,"width":0,"height":0,"gtype":"gage","title":"CPU Temperature","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"39","seg2":"59","x":790,"y":100,"wires":[]},{"id":"9b1045ae.4894c8","type":"exec","z":"5b34e4bd.4aaaec","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"","timer":"","name":"RPi Temp.","x":350,"y":120,"wires":[["a9d5d9d2.e15768"],[],[]]},{"id":"50b00545.478ecc","type":"inject","z":"5b34e4bd.4aaaec","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":"","x":110,"y":120,"wires":[["9b1045ae.4894c8","ba9a84a7.fec138","e9dc467a.c91968","912cfc25.4338"]]},{"id":"a9d5d9d2.e15768","type":"function","z":"5b34e4bd.4aaaec","name":"GetTemperature","func":"str = msg.payload\nmsg.payload = str.substring(5,9);\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":100,"wires":[["a4f62601.0f7c88","160a6568.a1f0ab","7b68122f.2d6aec"]]},{"id":"a5fb6a66.e72a88","type":"ui_button","z":"5b34e4bd.4aaaec","name":"","group":"33fc35f6.7fd3ca","order":1,"width":0,"height":0,"passthru":false,"label":"Reboot","color":"","bgcolor":"#43A047","icon":"cached","payload":"","payloadType":"str","topic":"","x":100,"y":600,"wires":[["1deaac45.0f6db4"]]},{"id":"1deaac45.0f6db4","type":"exec","z":"5b34e4bd.4aaaec","command":"sudo reboot","addpay":false,"append":"","useSpawn":"","timer":"","name":"Reboot","x":340,"y":580,"wires":[[],[],[]]},{"id":"15bf334b.ec8eed","type":"ui_button","z":"5b34e4bd.4aaaec","name":"","group":"33fc35f6.7fd3ca","order":2,"width":0,"height":0,"passthru":false,"label":"Shutdown","color":"","bgcolor":"#C62828","icon":"power_settings_new","payload":"","payloadType":"str","topic":"","x":100,"y":660,"wires":[["a18d9951.af1248"]]},{"id":"a18d9951.af1248","type":"exec","z":"5b34e4bd.4aaaec","command":"sudo shutdown -h now","addpay":false,"append":"","useSpawn":"","timer":"","name":"Shutdown","x":340,"y":680,"wires":[[],[],[]]},{"id":"160a6568.a1f0ab","type":"ui_chart","z":"5b34e4bd.4aaaec","name":"","group":"bb51dccd.cef36","order":3,"width":0,"height":0,"label":"CPU Temperature Hist.","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":810,"y":140,"wires":[[],[]]},{"id":"ba9a84a7.fec138","type":"exec","z":"5b34e4bd.4aaaec","command":"top -d 0.5 -b -n2 | grep \"Cpu(s)\"|tail -n 1 | awk '{print $2 + $4}'","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"CPU Load","x":350,"y":200,"wires":[["c76e672b.3a6048"],[],[]]},{"id":"e9dc467a.c91968","type":"exec","z":"5b34e4bd.4aaaec","command":"free | grep Mem | awk '{print 100*($4+$6+$7)/$2}'","addpay":false,"append":"","useSpawn":"","timer":"","name":"Free Memory","x":350,"y":280,"wires":[["95970bae.35da98"],[],[]]},{"id":"c76e672b.3a6048","type":"ui_gauge","z":"5b34e4bd.4aaaec","name":"","group":"17214f55.911e71","order":1,"width":0,"height":0,"gtype":"gage","title":"CPU Load","label":"CPU","format":"{{value}}%","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":200,"wires":[]},{"id":"567234f1.f9a05c","type":"ui_gauge","z":"5b34e4bd.4aaaec","name":"","group":"17214f55.911e71","order":1,"width":0,"height":0,"gtype":"gage","title":"Used Memory","label":"RAM","format":"{{value}}%","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"40","seg2":"80","x":780,"y":280,"wires":[]},{"id":"4fcc088a.4d6bd8","type":"exec","z":"5b34e4bd.4aaaec","command":"df -h","addpay":false,"append":"","useSpawn":"","timer":"","name":"Disk Usage","x":350,"y":480,"wires":[["792b3a57.1deda4"],[],[]]},{"id":"95968e3c.d7307","type":"ui_gauge","z":"5b34e4bd.4aaaec","name":"","group":"98f6fbe1.b6d838","order":1,"width":0,"height":0,"gtype":"donut","title":"Disk","label":"Usage","format":"{{value}}%","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":480,"wires":[]},{"id":"792b3a57.1deda4","type":"function","z":"5b34e4bd.4aaaec","name":"CalculateUsage","func":"var re = /([0-9]{2})%/\nvar idx = msg.payload.search(re);\nvar str = msg.payload;\nif (idx >=0) {\n    str = msg.payload.substring(idx, idx + 2);\n}\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":480,"wires":[["95968e3c.d7307"]]},{"id":"f8e843ad.2d54f","type":"inject","z":"5b34e4bd.4aaaec","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":"","x":110,"y":480,"wires":[["4fcc088a.4d6bd8"]]},{"id":"95970bae.35da98","type":"function","z":"5b34e4bd.4aaaec","name":"FreeToUsed","func":"var floatFree = 100 - parseFloat(msg.payload);\n\nmsg.payload = floatFree.toFixed(1);\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":280,"wires":[["567234f1.f9a05c"]]},{"id":"137ef4ea.c4a9fb","type":"ui_gauge","z":"5b34e4bd.4aaaec","name":"Fan Status","group":"bb51dccd.cef36","order":2,"width":0,"height":0,"gtype":"donut","title":"Fan Status","label":"{{msg.payload[1]}}","format":"","min":"0","max":"1","colors":["#ca3838","#e6e600","#00b500"],"seg1":"","seg2":"","x":770,"y":360,"wires":[]},{"id":"912cfc25.4338","type":"subflow:7eb0ac3d.67e954","z":"5b34e4bd.4aaaec","name":"","x":360,"y":360,"wires":[["137ef4ea.c4a9fb"],[]]},{"id":"f1db5a98.a0a628","type":"ui_button","z":"5b34e4bd.4aaaec","name":"","group":"adc628c.4be25d8","order":1,"width":0,"height":0,"passthru":false,"label":"Turn On Fan","color":"","bgcolor":"#43A047","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":820,"wires":[["9b3b92c3.54d18"]]},{"id":"9b3b92c3.54d18","type":"exec","z":"5b34e4bd.4aaaec","command":"fan -f on","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"TurnFanOn","x":340,"y":820,"wires":[["c402289b.378ec8"],[],[]]},{"id":"ca70bb82.90e4e8","type":"ui_button","z":"5b34e4bd.4aaaec","name":"","group":"adc628c.4be25d8","order":3,"width":0,"height":0,"passthru":false,"label":"Turn Off Fan","color":"","bgcolor":"#C62828","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":920,"wires":[["2f44dd43.3b63f2"]]},{"id":"2f44dd43.3b63f2","type":"exec","z":"5b34e4bd.4aaaec","command":"fan -f off","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"TurnFanOff","x":340,"y":920,"wires":[["c402289b.378ec8"],[],[]]},{"id":"4bf1ec1b.79b0e4","type":"ui_button","z":"5b34e4bd.4aaaec","name":"","group":"adc628c.4be25d8","order":2,"width":0,"height":0,"passthru":false,"label":"Automatic","color":"","bgcolor":"#1E88E5","icon":"","payload":"","payloadType":"str","topic":"","x":100,"y":1020,"wires":[["e497e777.a846b8"]]},{"id":"e497e777.a846b8","type":"exec","z":"5b34e4bd.4aaaec","command":"fan -r","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"RetoreFan","x":340,"y":1020,"wires":[["c402289b.378ec8"],[],[]]},{"id":"c402289b.378ec8","type":"ui_toast","z":"5b34e4bd.4aaaec","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":670,"y":920,"wires":[]},{"id":"6305022.80b49fc","type":"template","z":"273e5ebb.c42692","name":"GetData","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select data1,data2,data3 from data order by created_at desc limit 1;","output":"str","x":340,"y":100,"wires":[["bba44209.f820d"]]},{"id":"bba44209.f820d","type":"mysql","z":"273e5ebb.c42692","mydb":"2d711cb5.1029c4","name":"","x":530,"y":100,"wires":[["8ba62e13.cb0c","415c425f.bf12ec","f85720aa.895fb"]]},{"id":"24031b2a.b240d4","type":"inject","z":"273e5ebb.c42692","name":"","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":true,"onceDelay":"10","x":110,"y":100,"wires":[["6305022.80b49fc"]]},{"id":"e82de8f6.a56028","type":"ui_gauge","z":"273e5ebb.c42692","name":"Umidade","group":"2b5258ac.fc47e8","order":0,"width":"0","height":"0","gtype":"wave","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":940,"y":40,"wires":[]},{"id":"8ba62e13.cb0c","type":"function","z":"273e5ebb.c42692","name":"GetUmidity","func":"msg.payload = msg.payload[0].data2\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":40,"wires":[["e82de8f6.a56028"]]},{"id":"f85720aa.895fb","type":"function","z":"273e5ebb.c42692","name":"GetRealFeel","func":"msg.payload = msg.payload[0].data3\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":160,"wires":[["de76ad5e.f3dab"]]},{"id":"415c425f.bf12ec","type":"function","z":"273e5ebb.c42692","name":"GetTemperature","func":"msg.payload = msg.payload[0].data1\n\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":100,"wires":[["b15ca13b.67d32"]]},{"id":"b15ca13b.67d32","type":"ui_gauge","z":"273e5ebb.c42692","name":"","group":"238898f7.d8b0f8","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"25","seg2":"30","x":950,"y":100,"wires":[]},{"id":"de76ad5e.f3dab","type":"ui_gauge","z":"273e5ebb.c42692","name":"","group":"7295cf97.40982","order":0,"width":0,"height":0,"gtype":"gage","title":"RealFeel","label":"°C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"25","seg2":"30","x":940,"y":160,"wires":[]},{"id":"fc4b0cd6.f5e12","type":"e-mail","z":"5b34e4bd.4aaaec","server":"smtp.gmail.com","port":"465","secure":true,"name":"kauezatarin@hotmail.com","dname":"","x":1330,"y":60,"wires":[]},{"id":"64512721.68c9a8","type":"delay","z":"5b34e4bd.4aaaec","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1110,"y":60,"wires":[["fc4b0cd6.f5e12"]]},{"id":"7b68122f.2d6aec","type":"switch","z":"5b34e4bd.4aaaec","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"70","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":60,"wires":[["26edcabe.72f036"]]},{"id":"26edcabe.72f036","type":"change","z":"5b34e4bd.4aaaec","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"A temperatura do raspberry pi está acima de 70 graus, verificar imediatamente.","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Alerta de Temperatura","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":60,"wires":[["64512721.68c9a8"]]},{"id":"bf6843f4.bd0a5","type":"http in","z":"68d98986.685728","name":"Request","url":"/google","method":"get","swaggerDoc":"","x":85,"y":109,"wires":[["3d621073.85e","d6ccb12.9bf905"]]},{"id":"c7e31c9d.b463d","type":"http response","z":"68d98986.685728","name":"Response","x":948,"y":103,"wires":[]},{"id":"3d621073.85e","type":"debug","z":"68d98986.685728","name":"","active":true,"console":"false","complete":"req.query.text","x":340,"y":36,"wires":[]},{"id":"e9279f22.8d6a7","type":"inject","z":"68d98986.685728","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":116,"y":238,"wires":[["2a32eaa1.ff9356"]]},{"id":"d6ccb12.9bf905","type":"function","z":"68d98986.685728","name":"Analyze voice command","func":"var temp = msg.req.query.text;\nmsg.payload.command = 0;\nmsg.payload.success = false;\n\n// removing rubbish\ntemp = temp.toLowerCase();\ntemp = temp.replace(\"a \",\"\");\ntemp = temp.replace(\"the \",\"\");\ntemp = temp.replace(\"to \",\"\");\ntemp = temp.replace(\"home \",\"\");\ntemp = temp.replace(\"lights\",\"light\");\n\n// check if the command is to turn something on/off\nif (temp.indexOf(\"turn\")>-1) {\n    temp = temp.replace(\"turn \",\"\");\n    msg.payload.command = 1;\n}\nif (temp.indexOf(\"switch\")>-1) {\n    temp = temp.replace(\"switch \",\"\");\n    msg.payload.command = 1;\n}\n\n// check if the command is about the solar panels\nif (temp.indexOf(\"solar\")>-1) {\n    temp = temp.replace(\"solar \",\"\");\n    msg.payload.command = 2;\n}\n\n// let's try finding the thing and state\n// the turn/switch commands are expected as 'turn <state> the <thing>'\nvar lastIndex= temp.indexOf(\" \");\nvar voice_state = temp.substring(0, lastIndex).trim();\nvar voice_thing = temp.substring(lastIndex+1,temp.length).trim();\n\n// evaulate the state\nif (voice_state===\"on\") {\n    msg.payload.command_value = \"1\";\n}\nif (voice_state===\"off\") {\n    msg.payload.command_value = \"0\";\n}\n\n// handle the solar request\nif (msg.payload.command===2) {\n    msg.payload.response=\"The solar system is currently generating \" + global.get(\"growatt_power\") + \" watts. Total generation today is \" + global.get(\"growatt_today\") + \" kilowatt hours.\";\n}\n\n// handle the switch commands\nif (msg.payload.command===1) {\n    switch (voice_thing) {\n        case \"christmas light\":\n            msg.payload.response=\"OK, turning \" + voice_state + \" the \" + voice_thing;\n            msg.payload.success = true;\n            msg.payload.command_thing=\"Sonoff1\";\n            break;\n        case \"test light\":\n            msg.payload.response=\"OK, turning \" + voice_state + \" the \" + voice_thing;\n            msg.payload.success = true;\n            msg.payload.command_thing=\"Test\";\n            break;\n        default:\n            msg.payload.response=\"Sorry, I did not understand turning \" + voice_state + \" the \" + voice_thing;\n            msg.payload.success = false;\n            break;\n    }\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":366,"y":104,"wires":[["5b08a249.ec631c","7c74df9b.76ccc","e734b9c0.34f748"]]},{"id":"5b08a249.ec631c","type":"debug","z":"68d98986.685728","name":"","active":true,"console":"false","complete":"false","x":864,"y":211,"wires":[]},{"id":"7c74df9b.76ccc","type":"switch","z":"68d98986.685728","name":"Check if command was valid","property":"payload.success","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":423,"y":311,"wires":[["4f2a319f.6c365"]]},{"id":"4f2a319f.6c365","type":"switch","z":"68d98986.685728","name":"Check command","property":"payload.command","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"}],"checkall":"true","outputs":3,"x":128,"y":411,"wires":[["3cf082e1.5d5b2e","ac6401d7.6bd99"],[],[]]},{"id":"3cf082e1.5d5b2e","type":"switch","z":"68d98986.685728","name":"Christmas light?","property":"payload.command_thing","propertyType":"msg","rules":[{"t":"eq","v":"Sonoff1","vt":"str"}],"checkall":"true","outputs":1,"x":399,"y":398,"wires":[["6d1a5d5.38113a4"]]},{"id":"6d1a5d5.38113a4","type":"function","z":"68d98986.685728","name":"Put value to payload","func":"msg.payload = msg.payload.command_value;\nreturn msg;","outputs":1,"noerr":0,"x":618,"y":399,"wires":[["ee0cc16b.df497"]]},{"id":"e734b9c0.34f748","type":"function","z":"68d98986.685728","name":"Put response into payload","func":"msg.payload = msg.payload.response;\nreturn msg;","outputs":1,"noerr":0,"x":697,"y":103,"wires":[["c7e31c9d.b463d"]]},{"id":"2a32eaa1.ff9356","type":"function","z":"68d98986.685728","name":"Move value","func":"msg.req.query.text = \"home turn on the christmas light\"\nreturn msg;","outputs":1,"noerr":0,"x":239,"y":173,"wires":[["d6ccb12.9bf905"]]},{"id":"ee0cc16b.df497","type":"link out","z":"68d98986.685728","name":"","links":["2bd7b670.60308a"],"x":856.4999694824219,"y":397.6666488647461,"wires":[]},{"id":"ac6401d7.6bd99","type":"switch","z":"68d98986.685728","name":"Test light?","property":"payload.command_thing","propertyType":"msg","rules":[{"t":"eq","v":"Test","vt":"str"}],"checkall":"true","outputs":1,"x":393.6666564941406,"y":465.6666564941406,"wires":[["b63792d3.ccef8"]]},{"id":"b63792d3.ccef8","type":"function","z":"68d98986.685728","name":"Put value to payload","func":"//msg.payload = msg.payload.command_value;\nmsg.url = \"http://192.168.1.133/control?cmd=gpio,12,\"+msg.payload.command_value;\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.url});\nreturn msg;","outputs":1,"noerr":0,"x":622.6666564941406,"y":466.6666564941406,"wires":[["64d31bb2.e3b4f4"]]},{"id":"64d31bb2.e3b4f4","type":"http request","z":"68d98986.685728","name":"","method":"GET","ret":"txt","url":"","x":965.4999694824219,"y":465.6666488647461,"wires":[[]]},{"id":"80b96078.f850a","type":"comment","z":"68d98986.685728","name":"More","info":"https://flows.nodered.org/flow/3bc248f9dfcc384739addcd9bb372941","x":210,"y":620,"wires":[]}]